<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="online.decentworld.rdb.mapper.WealthMapper" >
  <resultMap id="BaseResultMap" type="online.decentworld.rdb.entity.Wealth" >
    <id column="dwID" property="dwid" jdbcType="VARCHAR" />
    <result column="wealth" property="wealth" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ChargeResultMap" type="online.decentworld.rdb.entity.DBChargeResult" >
    <id column="statusCode" property="resultCode" jdbcType="INTEGER" />
    <result column="wealth" property="newWealth" jdbcType="INTEGER" />
  </resultMap>

  <parameterMap type="java.util.Map" id="p2pChargeParameter">
    <parameter property="payer" mode="IN" jdbcType="VARCHAR"/>
    <parameter property="payee" mode="IN" jdbcType="VARCHAR"/>
    <parameter property="charge_amount" mode="IN" jdbcType="INTEGER"/>
    <parameter property="statusCode"  mode="OUT" jdbcType="INTEGER"/>
    <parameter property="payer_wealth" mode="OUT" jdbcType="INTEGER"/>
    <parameter property="payee_wealth" mode="OUT" jdbcType="INTEGER"/>
  </parameterMap>


  <sql id="Base_Column_List" >
    dwID, wealth
  </sql>


  <select id="charge" resultMap="ChargeResultMap" statementType="CALLABLE">
    CALL face2face.CHANGE_WEALTH(#{dwID,mode=IN,jdbcType=VARCHAR},#{charge_amount,mode=IN,jdbcType=INTEGER},
    #{statusCode,mode=OUT,jdbcType=INTEGER},#{newWealth,mode=OUT,jdbcType=INTEGER})
  </select>

  <insert id="insert" parameterType="online.decentworld.rdb.entity.Wealth" >
    insert into t_wealth (dwID, wealth)
    values (#{dwid,jdbcType=VARCHAR}, #{wealth,jdbcType=INTEGER})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_wealth
    where dwID = #{dwid,jdbcType=VARCHAR}
  </select>


  <update id="updateTest" parameterType="java.lang.String">
   UPDATE t_wealth wealth SET wealth.wealth=wealth.wealth+1
    where dwID = #{dwid,jdbcType=VARCHAR}
  </update>


  <select id="selectSerializable" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_wealth
    where dwID = #{dwid,jdbcType=VARCHAR} FOR  UPDATE
  </select>
</mapper>